table, td
  {
  border-collapse: collapse;
  font-family:"Times New Roman", Arial, Helvetica, sans-serif;
  font-size:2px;
  border:1px solid #98bf21;
  padding:3px 6px 2px 6px;
  }

tr:nth-child(odd) td
  {
  background-color:#EAF2D3;
  }

th 
  {
  font-family:"Times New Roman", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size:2px;
  text-align:left;
  padding:3px 6px 2px 6px;  
  border:1px solid #98bf21;
  background-color:#A7C942;
  color:#ffffff;
  }

#toolcolumn, #toolrow, #tooltable
  {
  border-collapse: collapse;
  font-family:"Times New Roman", Arial, Helvetica, sans-serif;
  font-size:5px;
  border:0px;
  padding:3px 6px 2px 6px;
  background-color:#ffffff;
  }


 #tr_NP:nth-child(odd) td
  {
  background-color:#EAF2D3;
  }

#th_NP
  {
  font-family:"Times New Roman", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size:2px;
  text-align:left;
  padding:3px 6px 2px 6px;  
  border:1px solid #B22222;
  background-color:#CD5C5C;
  color:#ffffff;
  }

  #th_HP,#th_RP
  {
  font-family:"Times New Roman", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size:2px;
  text-align:left;
  padding:3px 6px 2px 6px;  
  border:1px solid #4169E1;
  background-color:#6495ED;
  color:#ffffff;
  }

  #div_top
  {
    width:93%;
  }