<font size='5' color='purple'><h1>Draw Horizon</h1></font>

<form action="{% url 'eye:draw' %}" method="post">
    {% csrf_token %}
    <select name="domain_selected">
        {% for domain_tmp in imported_domain_list %}
            {% if show_flag %}
                {% if domain_tmp.domain_name == text.domain_name %}
                    <option value="{{ domain_tmp.domain_name }}" selected=true>{{ domain_tmp.domain_name }}</option>
                {% else %}
                    <option value="{{ domain_tmp.domain_name }}">{{ domain_tmp.domain_name }}</option>
                {% endif %}
            {% else %}
                <option value="{{ domain_tmp.domain_name }}">{{ domain_tmp.domain_name }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <input type='submit' value='Show Range' style='color:black;font-size:15pt;' />
</form>

{% if show_flag %}
    <p>domain name: <font color='purple'>{{ text.domain_name }}</font></p>
    <p>time scale: </p><font color='purple'>{{ text.time_min }}--->{{ text.time_max }}</font>
    {% if not text.delete_flag %}
        <p>size scale: <font color='purple'>{{ text.size_min }}--->{{ text.size_max }}</font> (MB)</p>
    {% endif %}
    <p>latency scale: <font color='purple'>{{ text.latency_min }}--->{{ text.latency_max }}</font> (s)</p>
    <p>records count: <font color='purple'>{{ text.total }}</font></p>
{% endif %}

<h2>Plot</h2>
<form action="{% url 'eye:draw_plot' text.id %}" method="post">
    {% csrf_token %}
    <p>x ordinate: <select name="x_ordinate"></p>
        {% if not text.delete_flag %}
            <option value="size">size</option>
        {% endif %}
        <option value="time">time</option>
        <option value="latency">latency</option>
    </select>

    <p>y ordinate: <select name="y_ordinate"></p>
        <option value="latency">latency</option>
        {% if not text.delete_flag %}
            <option value="size">size</option>
        {% endif %}
        <option value="time">time</option>   
    </select>
    <input type='text' name='y_min' style="width:40px;"/>---><input type='text' name='y_max' style="width:40px;"/>

    <p>time range: <font color='red'>(*please follow the time format)</font></p><input type="text" name="time_min" value="{{ text.time_min }}"/>---><input type="text" name="time_max" value="{{ text.time_max }}"/>
    {% if not text.delete_flag %}
        <p>size range: <input type="text" name="size_min" style="width:40px;"/>---><input type="text" name="size_max" style="width:40px;"/> (MB)</p>
    {% endif %}
    <p>latency range: <input type="text" name="latency_min" style="width:40px;"/>---><input type="text" name="latency_max" style="width:40px;"/> (s)</p>
    <input type="submit" value="Plot" style='color:black;font-size:15pt;' />
</form>

<br>
<form action="{% url 'eye:back_to_menu' %}" method="post">
    {% csrf_token %}
    <input type='submit' value='Back to Menu' style='color:purple;font-size:15pt;' />
</form>



